
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  /*padding-top: 4rem;*/
}

/*headers*/
h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4.8rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: center;
  /*  padding: 1rem;*/
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3.2rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: left;
  /*  padding: 1rem;*/
}

h3 {
  color: black;
  font-family: sans-serif;
  font-size: 2.4rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: left;
  /*  padding: 1rem;*/
}

h4 {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: left;
  /*padding: 1rem;*/
}

h5 {
  color: black;
  font-family: sans-serif;
  font-size: 1.8rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: left;
  /*padding: 1rem;*/
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-top: .5rem;
  line-height: 1.3;
  text-align: left;
  /*padding: 1rem;*/
}

/*mobiles setup & order of section for all devices and sizes. you can reorder section here.*/
.container {
  background-color: white;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "nav"
  "hero"
  "intro-header"
  "intro-summary"
  "specs"
  "intro"
  "disc-header"
  "research"
  "swot"
  "survey"
  "personas"
  "process-header"
  "sketches"
  "wireframes"
  "design-header"
  "branding"
  "mockups"
  "test-header"
  "user-testing"
  "con-header"
  "conclusion"
  "footer";
    margin: 0 auto;
}

/*all sections*/
section {
  background-color: blue;
  color: black;
  /*margin-top: 1rem;*/
  padding: 10rem 3rem;
}

/*specific sections*/
.nav {
  background-color: white;
  grid-area: nav;
  padding: 1rem 1rem;
}

.hero {
  background-color: black;
  grid-area: hero;
  padding: 30rem 2rem;
}

/*Introduction*/
.intro-header {
  background-color: #668CA3;
  grid-area: intro-header;
  padding: 2rem 3rem;
}

.intro-summary {
  background-color: white;
  grid-area: intro-summary;
  padding: 5rem 3rem;
}
.specs {
  background-color: white;
  display: grid;
  grid-area: specs;
  padding: 5rem 3rem;
}

.intro {
  background-color: white;
  grid-area: intro;
  padding: 10rem 3rem;
}

/*Discovery*/
.disc-header {
  background-color: #668CA3;
  grid-area: disc-header;
  padding: 2rem 3rem;
}

.research {
  background-color: white;
  grid-area: research;
  padding: 10rem 3rem;
}

.swot {
  background-color: white;
  grid-area: swot;
  padding: 10rem 3rem;
}

.survey {
  background-color: white;
  grid-area: survey;
  padding: 10rem 3rem;
}
.personas {
  background-color: white;
  grid-area: personas;
  padding: 10rem 3rem;
}

/*Process*/
.process-header {
  background-color: #668CA3;
  grid-area: process-header;
  padding: 2rem 3rem;
}

.sketches {
  background-color: white;
  grid-area: sketches;
  padding: 10rem 3rem;
}

.wireframes {
  background-color: white;
  grid-area: wireframes;
  padding: 10rem 3rem;
}


/*Design*/
.design-header {
  background-color: #668CA3;
  grid-area: design-header;
  padding: 2rem 3rem;
}

.branding {
  background-color: white;
  grid-area: branding;
  padding: 10rem 3rem;
}

.mockups {
  background-color: white;
  grid-area: mockups;
  padding: 10rem 3rem;
}

/*Testing*/
.test-header {
  background-color: #668CA3;
  grid-area: test-header;
  padding: 2rem 3rem;
}

.user-testing {
  background-color: white;
  grid-area: user-testing;
  padding: 10rem 3rem;
}

/*Conclusion*/
.con-header {
  background-color: #668CA3;
  grid-area: con-header;
  padding: 2rem 3rem;
}

.conclusion {
  background-color: white;
  grid-area: conclusion;
  padding: 10rem 3rem;
}


/*footer nav and contact info*/
.footer {
  background-color: white;
  grid-area: footer;
  padding: 5rem 1rem;
  text-align: center;
}


/*tablet setup; can be written to specific size ex: ipad.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
    "nav nav"
    "hero hero"
    "intro-header intro-header"
    "intro-summary intro-summary"
    "specs specs"
    "intro intro"
    "disc-header disc-header"
    "research research"
    "swot swot"
    "survey survey"
    "personas personas"
    "process-header process-header"
    "sketches sketches"
    "wireframes wireframes"
    "design-header design-header"
    "branding branding"
    "mockups mockups"
    "test-header test-header"
    "user-testing user-testing"
    "con-header con-header"
    "conclusion conclusion"
    "footer footer";
    width: 90%;
    margin: 0 auto;
  }

}

/*desktop setup; not written to specific size due to varies mobile devices.
you can reoder grid two column sectio here.*/
@media screen and (min-width: 1000px) {
  .container {
    background-color: pink;
    grid-template-columns: 6fr 6fr;
    grid-template-areas:
    "nav nav"
    "hero hero"
    "intro-header intro-header"
    "intro-summary intro-summary"
    "specs specs"
    "intro intro"
    "disc-header disc-header"
    "research research"
    "swot swot"
    "survey survey"
    "personas personas"
    "process-header process-header"
    "sketches sketches"
    "wireframes wireframes"
    "design-header design-header"
    "branding branding"
    "mockups mockups"
    "test-header test-header"
    "user-testing user-testing"
    "con-header con-header"
    "conclusion conclusion"
    "footer footer";
    width: 90%;
    margin: 0 auto;
  }

}
